#output {
  padding-left: 10px;
}

.string_value {
  color: rgb(210, 180, 60);
}

.eval_tree {
  font-size: 0.9em;
}

#console_view, #watch_view, .scope, .watch_controls {
  position: absolute;
}

#watch_view {
  right: 0;
  width: 0;
  padding-left: 5px;
  display: none;
}

.result {
  font-family: monospace;
  font-size: 0.9em;
  margin: 0;
  border-bottom: rgb(180, 180, 180);
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.watch {
  font-family: monospace;
  font-size: 0.9em;
  border-left: rgb(180, 180, 180);
  border-left-style: solid;
  border-left-width: thin;
  border-bottom: rgb(180, 180, 180);
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding-left: 7px;
}

.eval_expr {
  margin: 0;
  border-bottom: rgb(200, 200, 200);
  border-bottom-style: dotted;
  border-bottom-width: thin;
}

.input-group > span, .input-group > input {
  font-family: monospace;
  border: 0;
  background-color: white;
  font-size: 0.9em;
}

.input-group-addon {
  padding-left: 10px;
}

.watch .scope {
  right: 50px;
  margin-top: 2px;
}

.result .scope {
  right: 2px;
  margin-top: 2px;
}

.table tbody > tr > td {
  padding: 0;
  font-size: 0.8em;
}

.table {
  margin: 0;
}

.watch_controls {
  right: 2px;
}

.current_scope {
  margin-left: 10px;
  display: none;
}

.internal_msg {
  margin-bottom: 3px;
}

.error_location {
  background-color: rgb(180,180,180);
  padding: 2px;
  border-radius: 5px;
}

.error_location.important {
  background-color: rgb(200,140,140);
}

.error_location.internal, .error_method.internal {
  opacity: 0.5;
}

.error_method {
  background-color: rgb(220,220,220);
  margin-right: 5px;
  padding: 2px;
  border-radius: 5px;
}

#result_output_tmpl, #internal_output_tmpl, #watch_tmpl, #autocomplete_output_tmpl {
  display: none;
}