.output {
  padding-left: 10px;
}

.result {
  font-family: monospace;
  font-size: 1em;
}

.eval_trees {
  font-size: 1em;
}

.result {
  margin: 0;
  border-bottom: rgb(180, 180, 180);
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.result .eval_expr {
  margin: 0;
  border-bottom: rgb(200, 200, 200);
  border-bottom-style: dotted;
  border-bottom-width: thin;
}

.input-group > span, .input-group > input {
  font-family: monospace;
  border: 0;
  background-color: white;
  font-size: 1em;
}

.input-group-addon {
  padding-left: 10px;
}

.scope {
  position: absolute;
  right: 2px;
  margin-top: 2px;
}

.internal_msg {
  margin-bottom: 3px;
}

.error_location {
  background-color: rgb(180,180,180);
  padding: 2px;
  border-radius: 5px;
}

.error_method {
  background-color: rgb(220,220,220);
  margin-right: 5px;
  padding: 2px;
  border-radius: 5px;
}