.output {
  padding-left: 10px;
}

.result {
  font-family: monospace;
  font-size: 1em;
}

.eval_trees {
  font-size: 0.8em;
}

.result > span > p, .result > span > div {
  margin: 0;
  border-bottom: rgb(189, 187, 182);
  border-bottom-style: ridge;
  border-bottom-width: thin;
}

.input-group > span, .input-group > input {
  font-family: monospace;
  border: 0;
  background-color: white;
  font-size: 1em;
}

.input-group-addon {
  padding-left: 10px;
}
